body {
  margin: 0;
  font-family: 'trebuchet ms';
  background-color: #f4f7fb;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #e9eff7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 40px;
  font-weight: 700;
  color: #2a6fc1;
  font-family: 'kufam';
  font-style: italic;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-family: 'kufam';
}

.nav-links a {
  text-decoration: none;
  color: #2a6fc1;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #2a6fc1;
}

.btn-login {
  padding: 0.4rem 0.8rem;
  background-color: #e9eff7;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.btn-login:hover {
  background-color: #2a6ec16f;
  color: white;
}

.hero {
  background: url('home/images/teclado.jpg') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 50pt;
  margin-bottom: 0.5rem;
  font-family: 'kufam';
}

.hero p {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-family: 'khula';
}

.btn-cta {
  background-color: #2a6fc1;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-family: 'kufam';
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btn-cta:hover {
  background-color: #0c213b;
}

.productos {
  padding: 4rem 2rem;
  background-color: white;
  text-align: center;
}

.productos h2 {
  font-size: 2.2rem;
  color: #2a6fc1;
  margin-bottom: 2rem;
  font-family: 'kufam';
  padding-bottom: 50px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.producto {
  background-color: #f0f4fa;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.producto:hover {
  transform: translateY(-5px);
}

.producto img {
  max-width: 100%;
  border-radius: 6px;
}

.slogan {
  background-color: #dfeaf5;
  padding: 1rem;
  text-align: center;
  font-style: italic;
  color: #2a6fc1;
  font-size: 1.2rem;
  font-family: 'kufam';
  font-weight: bold;
}

.email,
.servicio,
.vende {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  color: #405a7b;
}

.footer {
  background-color: #e9eff7;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #9eafc6;
}