.GalBy {
    font-family: 'kufam';
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    color: #006ab6b6;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.GalBy:hover {
    color: rgb(37, 118, 209);
    background: linear-gradient(rgb(37, 118, 209), rgb(20, 68, 122));
    background-clip: text;
    -webkit-background-clip: text;
    transition: linear-gradient 0.15s;
}

.IniSe {
    background-color: rgb(255, 255, 255);
    color: #006ab6b6;
    border: solid;
    border-width: 3px;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-family: khula, sans-serif;
    font-style: normal;
    font-size: 18pt;
    float: right;
}

.IniSe:hover {
    background-color: rgb(52, 131, 223);
    color: white;
    border-color: rgb(52, 131, 223);
    border-radius: 6px;
    border: solid;
    border-width: 3px;
}

.Cat {
    background-color: white;
    color: #006ab6b6;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: khula, sans-serif;
    font-style: normal;
    font-size: 18pt;
    text-decoration: none;
    float: right;

}

.Comprar {
    background-color: rgb(255, 108, 89);
    color: white;
    border: none;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'kufam';
    font-weight: bold;
    font-size: 18pt;
    display: block
}

.Comprar:hover {
    background-color: rgb(245, 79, 79);
}

.PhTitle {
    font-family: 'trebuchet ms';
    font-style: normal;
    font-weight: bolder;
    font-size: 40pt;
    display: inline-block
}

.PhColor {
    font-family: 'kufam';
    font-style: italic;
    font-weight: lighter;
    color: pink;
    font-size: 30pt;
    display: inline-block
}

.PhPr {
    font-family: 'trebuchet ms';
    font-style: normal;
    font-weight: bold;
    font-size: 40pt;
    display: inline-block;
}

.PhSec {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-left: 40px;
}

.Promo {
    font-family: 'MuseoModerno';
    font-style: italic;
    font-weight: bold;
    font-size: 80px;
    font-size: 5vw;
    color: transparent;
    background: linear-gradient(to right, #4FB0D1, #7CE67A);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.Promo:hover {
    text-shadow: 0px 0px 5px rgba(182, 250, 94, 0.445);
}

.info {
    font-family: 'trebuchet ms';
    font-style: normal;
    font-weight: light;
    font-size: 25px;
    color: gray;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos {
    font-family: 'trebuchet ms';
    font-style: normal;
    font-weight: 500;
    font-size: 20pt;
    width: 400px;
    text-decoration: none;
    color: black;

}

.productos2 {
    font-family: 'trebuchet ms';
    font-style: normal;
    font-weight: 500;
    font-size: 20pt;
    width: 400px;

}

.productos:hover {
    font-size: 22pt;
    cursor: pointer;
}

.DiscPr {
    font-family: 'kufam';
    font-style: italic;
    font-weight: 600;
    color: rgb(89, 136, 239);
    text-align: left;
}

.admin {
    font-family: 'trebuchet ms';
    font-style: italic;
    font-weight: light;
    font-size: 15pt;
    color: gray;
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.admin:hover {
    font-weight: normal;
    text-decoration: underline;
    color: rgb(245, 79, 79);
}

.Msg {
    font-family: 'kufam';
    font-style: normal;
    font-weight: bold;
    font-size: 30pt;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.InfoPg {
    font-family: 'trebuchet ms';
    font-style: normal;
    font-weight: light;
    color: gray;
    font-size: 15pt;
    display: inline-block;
}

.InfoPg:hover {
    cursor: pointer;
}

.DPart {
    font-family: 'khula';
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 20pt;
    margin-bottom: 10px;
    display: inline-block;
}

.Iphone {
    width: 450px;
}

.Iphone:hover {
    transition: 0.15s;
    animation-name: pulso;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.Compo,
.Mouse,
.PC {
    width: 400px;
}

.Compo:hover,
.Mouse:hover,
.PC:hover {
    transition: 0.15s;
    animation-name: pulso;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes pulso {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.Pt2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    align-items: center;
}

.P01:hover,
.P02:hover,
.P03:hover {
    size: 50px;
}

.PhIm {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.Pt1 {
    vertical-align: top;
    background-image: url(Product/Assets/Cherry.webp);
    background-repeat: no-repeat;
    background-size: contain;
    right: -200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.email,
.servicio,
.vende {
    display: inline-block;
    text-align: center;
}

.Foot {
    align-items: center;
    margin-bottom: 60px;

}

.hr {
    border-top: 1px solid #bbb;
    margin: 10px 0;
}